@import '../../styles/variables.scss';
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  color: $primary-color;
}
.logo {
  width: 45px;
  height: 45px;
}
